# Dependency directories
node_modules/
# Production build
build/
dist/
# dotenv environment variables file
.env
.env.local
.env.development
.env.test
.env.production
# Log files
*.log
# Test coverage
coverage/
# .vscode directory
.vscode/
# OS-specific files
.DS_Store
Thumbs.db
