html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 100%;
}

.big-bold-text {
  font-size: 13vw;
  letter-spacing: -.01em;
  line-height: 100%;
  margin: 0;
  
  width: 100%;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
  

  /* border-bottom: 1px solid #2F2B28; */
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.small-bold-text {
  font-size: 8vw;
  letter-spacing: -.01em;
  line-height: 100%;
  margin: 0;
  
  width: 100%;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
  

  /* border-bottom: 1px solid #2F2B28; */
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.big-heading-text {
  /* font-size: 9vw; */
  letter-spacing: -.01em;
  line-height: 100%;
  margin: 0;
  
  width: 100%;
  color: rgb(255, 255, 255, 0.8);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
  

  /* border-bottom: 1px solid #2F2B28; */
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7f5fff;
  color: #000;
  
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.big-bold-text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.small-bold-text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.small-bold-text.animate > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.big-bold-text.animate > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Motiva Sans Bold', serif; */
    color: #7f5fff;
    font-size: 56px;
    line-height: 1.18;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    text-align: start;
}

h1 {
  font-weight: 600;
}

p {
  color: #E0E0E0;
  font-size: 21px;        
  line-height: 1.41;
  text-align: left;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
} */

.hero {
  position: absolute;
  bottom: 0;
  z-index: 5;
  max-width: 550px;
  filter: contrast(90%);
  pointer-events: none;
}

.swiper {
  width: 100%;
  height: 95vh;
}

.swiper-slide {
  /* position: relative;
  text-align: center;
  font-size: 18px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
}

@keyframes animated-text {
  100% {
    background-position: 200% 0;
  }
}
/* 
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}  */

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
 
 input, textarea {
    border:0; outline:0;
    padding: 1em;
    @include border-radius(8px);
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    @include box-shadow(0 1px 1px rgba(black, 0.1));
    resize: none;
   
   &:focus {
      @include box-shadow(0 0px 2px rgba($red, 1)!important);
   }
 }
 
 #input-submit {
    color: white; 
    background: #f00;
    cursor: pointer;
   
   &:hover {
      @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
   }
 }
 
 textarea {
     height: 126px;
 }
}


.half {
 float: left;
 width: 48%;
 margin-bottom: 1em;
}

.right { width: 50%; }

.left {
    margin-right: 2%; 
}


@media (max-width: 480px) {
 .half {
    width: 100%; 
    float: none;
    margin-bottom: 0; 
 }
}

/* Clearfix */
.cf:before,
.cf:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}

.cf:after {
   clear: both;
}

.big-heading-text.solution {
  font-size: 10vw;
}

.big-heading-text.problem {
  font-size: 7vw;
}

.big-heading-text.alliance {
  font-size: 12vw;
}

.big-heading-text.reach {
  font-size: 8vw;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .image-container {
    display: none;
  }

  .big-bold-text {
    font-size: 13vw;
  }

  .small-bold-text {
    font-size: 8vw;
  }

  .big-heading-text {
    font-size: 8vw;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 44px;
  }

  p {
    font-size: 20px;
  }

  .hero {
    max-width: 100%;
  }

  .half, .right, .left {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }

  form {
    max-width: 100%;
  }

  .big-heading-text.solution {
    font-size: 12vw;
  }
  
  .big-heading-text.problem {
    font-size: 10vw;
  }
  
  .big-heading-text.alliance {
    font-size: 16vw;
  }
  
  .big-heading-text.reach {
    font-size: 12vw;
  }
}